.mybutton {
	width: 250px !important;
	height: 250px;
	
	
}

#level {
	margin-left: auto;
    margin-right: auto;
	width: 700px;
}

.guess {
	width: 390px;
	height: 90px;
	border: 1px solid #999999; 
	padding: 5px;
	font-size: 70px;
	
	
}

#answer {
	width: 100px !important;
	height: 90px;
	
}
